<h1>Ingredients</h1>
<ul>
<% ingredients.each do |ingredient| %>
  <li><a href="/ingredients/<%= ingredient %>"><%= ingredient %></a></li>
<% end %>
</ul>
<a href="/ingredients/new" class="btn btn-outline-secondary">Create New</a>
